<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.sqliteloginactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.LoginActivity" />
        <activity android:name="com.example.administrator.helloActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".BarisalActivity" />
        <activity android:name=".ChattagramActivity" />
        <activity android:name=".ComillaActivity" />
        <activity android:name=".DhakaActivity" />
        <activity android:name=".KhulnaActivity" />
        <activity android:name=".MymenshignActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RajshahiActivity" />
        <activity android:name=".RangpurActivity" />
        <activity android:name=".SylhetActivity"></activity>
    </application>

</manifest>